 form ul
{
list-style:none;
}
form h2
{
margin-left:-85px;
}
.personal li
{
margin:20px;
margin-left:30px;
}
.survey1 li
{

margin:10px;
margin-left:-100px;
}
#submit1
{
width:100px;
height:40px;
margin-left:230px;
}

